<h1 style="color: blue">I WISH I HAD MORE TIME TO CUSTOMIZE YOU</h1>
<p style="color: red">But sadly I do not</p>
<h5>DO YOU EVEN KNOW WHAT TIME IT IS???</h5>
<p>It is now <%= @time.stamp('December 26, 0000 - 4:02 am') %></p>